html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 1;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #595959;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: var(--bg);
}

.container {
  /* border: green solid 3px; */
  max-width: 124rem;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.heading {
  /* border: red solid 3px; */
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  /* border: grey solid 3px; */
  height: 50rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  /* border: yellow solid 3px; */
  width: 37rem !important;
  height: 37rem !important;
  text-align: center;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }

  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }

  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 37rem;
  height: 37rem;
  border-radius: 2rem;
  object-fit: cover;
}

.panel-loader-container {
  border: solid black;
  border-color: black;
  background: white;
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  /* border: pink solid 3px; */
  height: 5rem;
  position: relative;
  bottom: 5rem;
  z-index: 1;
}

.slider-controler .swiper-button-next {
  left: 62% !important;
  transform: translateX(-62%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  /* border: black solid 3px; */
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 38%;
  transform: translate(-44%, -44%) !important;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-arrow {
  /* border: yellow solid 3px; */
  background-color: lightblue;
  z-index: 10 !important;
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination {
  /* border: blue solid 3px; */
  position: relative;
  width: 100% !important;
  margin: 0 auto;
  bottom: 3.5rem !important;
  z-index: 1 !important;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
