@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

.nav-list{
    list-style-type: none;    
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}